body {
    background-color: #209199;
    align-content: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #264653;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-buttons a {
    text-decoration: none;
    color: #E9C46A;
    font-size: 1.1rem;
}

.logo {
    height: 5rem;
}