
@use '@angular/material' as mat;


//paleta de cores
$dd6041-palette:(500: #DD6041, contrast: (500: white)); //random teste

//tema
$my-theme: mat.define-theme((
  color: (
    primary: $dd6041-palette,
  ),
  ));

  //plica tema 
@include mat.checkbox-theme($my-theme);
@include mat.button-theme($my-theme);

/*html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
 
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

 
  margin: 0;
}
  */